body {
    background-color: #111;
    font-size: 12px;
    padding: 5px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #335;
    color: #ddd;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #333;
    color: #fff;
}

.table {
    padding: 0;
}

.enemyTable {
    border-width: 2px;
    border-style: solid;
    border-color: #777;
    border-radius: 5px;
}

tr {
    border-color: #666;
}